*{
  margin: 0;
  padding: 0;

}
body{
  text-align: center;

}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}
header{
  height: 100px;
  background: #EAFCF0;
  width: 100%;
  z-index: 12;
  position: fixed;
}
.logo{
  width: 30%;
  float: left;
  line-height: 100px;


}
.logo a{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #262626;
  letter-spacing: 5px;
}
nav{
  float: right;
  line-height: 100px;
}
nav a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color: #262626;
}
.banner-area{
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(leavesbackground.jpg);
  background-size: cover;
  background-position: center center;
}
.banner-area h2{
  padding-top: 8%;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.content-area{
  width: 100%;
  position: relative;
  top: 450px;
  background: #fff;
  height: 1500px;
}
.content-area h2{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 45px;
  margin: 0;
  color: #069034;
}
.content-area p{
  padding: 2% 0;
  font-family: 'Montserrat', sans-serif
  line-height:30px;
  color: #043B16;
  font-size: 20px;
}


.footer{
  position: fixed;
 left: 0;
 bottom: 0;
 height: 20px;
 width: 100%;
 background-color: #EAFCF0;
 color: black;
 text-align: center;
 font-family: 'Montserrat', sans-serif

}
