*{
  margin: 0;
  padding: 0;

}
body{
  text-align: center;

}
header{
  width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
  font size: 20px;
}
.main-header .container {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}
.logo{
  width: 30%;
  float: left;
  line-height: 100px;
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
    font-family: 'Montserrat', sans-serif;

}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}
div.leavesimage{
  content: url(leavesbackground.jpg);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 450px;
}

.content-area{
  width: 100%;
  text-align: center;
  font-size: 25px;
  top: 400px;
  background: #fff;
  height: 1400px;
  font-family: 'Montserrat', sans-serif;
  color: #069034
}

}
.content-area h2{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #069034;

}
.content-area p{
  padding: 2% 0;
  font-family: 'Montserrat', sans-serif
  line-height:30px;
  color: #043B16;
  font-size: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer{
  position: fixed;
 left: 0;
 bottom: 0;
 height: 20px;
 width: 100%;
 background-color: #EAFCF0;
 color: black;
 text-align: center;
 font-family: 'Montserrat', sans-serif

}
